html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

#menu {
    z-index: 4000;
    position: absolute;
    height: 30px;
    top: 15px;
    left: 15px;
    padding: 0px;
    cursor: pointer;
    width:0px;
    overflow: hidden;
    transition: 0.5s;
}

#menu div {
    background-color: white;
    height: 4px;
    margin: 5px;
    border-radius: 25px;
    transition: 0.5s;
}

#line1 {
    width: 30px;
}

#line2 {
    width: 20px;
}

#line3 {
    width: 25px;
    /* margin-bottom:  */
}

/* #menu:hover div{
    width: 30px;
} */

.topbar {
    z-index: 5;
    position:absolute;
    width: 100%;
    height: 0px;
    background-color: cadetblue;
    overflow: hidden;
    transition: 0.3s
}

.topbar-title {
    margin-left: 90px;
    font-size: 15px;
    color: white;
}

.sidebar {
    z-index: 3;
    position:absolute;
    width: 300px;
    height: 100%;
    background-color: cadetblue;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    transition: 0.5s;
}

.title {
    text-align: center;
    font-size: 20px;
    padding: 60px 10px;
}

.sub-title_group {
    position: relative;
}

.slide-bar {
    position: absolute;
    width: 7px;
    height: 50px;
    background-color: white;
    top: 1px;
    transition: 0.5s;
}

.sub-title {
    list-style: none;
    display: block;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    padding: 15px 20px;
    color: white;
}

#aboutMe:hover ~ .slide-bar {
    margin-top: 0px;
}

#camp:hover ~ .slide-bar {
    margin-top: 52px;
}

#goal:hover ~ .slide-bar {
    margin-top: 104px;
}

#project:hover ~ .slide-bar {
    margin-top: 156px;
}

#community:hover ~ .slide-bar {
    margin-top: 208px;
}

.main {
    z-index: 4;
    width: 100% - 300px;
    height: 100%;
    margin-left: 300px;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
    transition: 0.5s;
}

.sub-topic {
    margin: 20px
}

.sub-topic h1 {
    font-size: 45px;
    font-weight: 10;
    color: cadetblue;
    margin: 0px;
    margin-bottom: 10px;
}

.sub-topic p {
  font-size: 20px;
}

.line-breaker {
  background-color: cadetblue;
  height: 5px;
  width: 100px;
  border-radius: 100px;
}

@media only screen and (max-width: 1000px) {
    #menu {
        width: 30px;
        padding: 5px;
    }

    .topbar {
        height: 70px;
    }

    .main {
        margin-left: 0px;
        margin-top: 70px;
    }
}
